@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
:root {
  --font-weight-heavy: 900;
  --font-size-xx-large: 2rem; /* You can adjust this value */
}

h1 {
  font-weight: var(--font-weight-heavy);
  font-size: var(--font-size-xx-large);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
